@font-face {
    font-family: milk_font;
    src: url(fonts/Milk\ Kids.ttf)
  }
  @font-face {
   font-family: nexa_font;
   src: url(fonts/NexaText-Trial-ExtraLight.ttf);
  }
  * {
    color: white;
    font-size: 1.2em;
    font-family: "milk_font";
    background-color: rgb(24, 24, 24);
  }
  li, a {
    font-weight: 1000;
    text-decoration: none; 
    list-style: none;
  }
  header {
    display: flex;
    justify-content: space-between; 
    padding: 30px;
    font-family: "milk_font";
  }
  button {
    background-color: green;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer
  }
  button:hover {
    background-color: lightgreen;
  }
  a:hover {
    color: gray;
  }
  .aboutthedevs_nav li {
    display: inline-block; 
    padding: 10px;
  }
  .gamename a {
    color: green;
    font-size: 1.6em;
    text-align: center;
  }
  .gamename a:hover { 
    color: lightgreen;
  }
  .about_us {
    display: flex; 
    justify-content: center;
    margin-bottom: 30px;
  }
  .about_us a {
    margin: 0px 40px;
  }
  h1 {
    display: block;
    text-align: center;
    letter-spacing: 1px;
    font-family: "milk_font";
    font-weight: bold;
    font-size: 70px;
  }
  p {
    display: block;
    font-size: 22px;
    font-family: sans-serif;
    line-height: 30px;
    letter-spacing: 1px;
    color: black;
  }
  h2 {
    display: block;
    text-align: center;
    font-size: 25px;
    font-family: "nexa_font";
    color: green;
  }
  h3 {
    display: block;
    text-align: center;
    font-family: "nexa_font";
  }
  p{
    display: block;
    text-align: center;
    font-family: "nexa_font";
    color: white;
    width: 1000px;
    margin: auto;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #272727;
    border-top: 2px solid #FFFFFF;
    padding: 40px 40px 30px;
    margin-top: 30px;
  }
  footer p{
    color: white;
    font-size: 25px;
    padding: 20px 0px;
    font-family: "nexa_font";
    background-color: #272727;
  }
  img {
   height: 50%;
   width: 50%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   border-radius: 30px;
  }
  